header{
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div{
    margin: 0 auto;
    width: 35%;
    background-color: black;
    color: white;
    border-radius: 3rem;
    margin-top: 3rem;
    height: 100px;
}
.p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    height: 100px;
    padding-top: 7%;
}
div{
    margin: 0 auto;
    width: 35%;
    background-color:brown;
    color: white;
    border-radius: 3rem;
    margin-top: 3rem;
    height: 100px;
}
p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    height: 100px;
    padding-top: 7%;
}